# dependencies
node_modules/

# production build
dist/
build/

# environment variables
.env
.env.local
.env.development
.env.test
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor / IDE
.vscode/
.idea/
*.swp
*.swo

# cache
.npm/
.cache/
.eslintcache

# vite
.vite/
